
h1{
        color: red;
        font-size: 63px;
    
}
body{
    background-color: black;
}
h2{
    color:chartreuse;
    font-size: 50px;
}
p{
    color:blue;
    font-size: 50px;

}