
p{
    color:red;
    font-size: 100px;
}
h1{
        color: red;
        font-size: 63px;
    
}
body{
    background-color: black;
}
h2{
    color:chartreuse;
    font-size: 50px;
}

h3{
    color:red;
    font-size: 63px;
}
h4{
    color:blue;
    font-size: 50px;
}
h5{
    color: red;
    font-size: 63px;

}
h6{
    color:blue;
    font-size: 50px;
}